<div class="page-wrap">
    <% if logged_in?() %>
        <header class="top-header">
            
            <div>
                <p>
                    <a class="fight-boss-btn" href="/fight">Fight the boss!</a>
                </p>
                
            </div>
            <div class="main-header">
                <h1>The Runescape Armory</h1>
                <h3>Welcome to The Runescape Armory, <%= current_user()['username'] %></h3>
            </div>
            <div class="user-options">
                <form action="/sessions" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button class="log-out-btn">Log Out</button>
                </form>
                <form action="/clear" method="POST">
                    <input type="hidden" name="_method" value="put">
                    <button class="clear-xp-btn">CLEAR XP</button> 
                </form> 
            </div>
            
            
            
        </header>
        <section class="interface">
            <div class="shop">
                <header class="shop-header">
                    <h2>Shop Items</h2>
                    <p>Click on items to buy</p>
                </header>
                <div class="shop-list">
                    <% shop_items.each do |item| %>
                        <div class="shop-items">
                        
                        <p><%= item['name'] %></p>
                        
                        <form action="/item/<%= item['id'] %>/<%= item['price'] %>/buy" method="POST">
                            
                            <button><img src="<%= item['image_url'] %>" alt=""></button>
                        </form>

                        <p class="price"><%= item['price'] %>XP</p>
                        </div>
                    <% end %>
                </div>
                
            </div>
            

            <aside class="stats">
                <p>Current XP: <%= current_user()['xp'] %></p>
                
                
                <p>Health: <%= current_user()['health'] %></p>
                <p>Attack Level: <%= attack_level %></p>
                <p>Defence Level: <%= defence_level %></p>
                
                <a href="/mine"class="mine-btn">Mine to gain XP</a>
                
                
            </aside>


            <div class="inventory">
                <header class="inventory-header">
                    <h2>Inventory</h2>
                    <p>Click on items to upgrade</p>
                </header>
                <div class="inventory-list">
                <% inventory_items.each do |item| %>
                    <div class="inventory-items">
                    <p><%= item['name'] %></p>

                    <% if !item['name'].include? 'Dragon' %>
                        <form action="/item/upgrade">
                            <input type="hidden" name="id" value="<%= item['id'] %>">
                            <input type="hidden" name="name" value="<%= item['name'] %>">
                            <button><img src="<%= item['image_url'] %>" alt=""></button>
                        </form>
                    <% else %>
                        <img src="<%= item['image_url'] %>" alt="">
                    <% end %>
                    <form action="/item/<%= item['id'] %>" method="POST">
                        <input type="hidden" name="_method" value="delete">
                        <button>DROP</button>
                    </form>
                    </div>
                <% end %>
                </div>
                
            </div>
        </section>

    <% else %>

        <div class="login-page">
            <h1>The Runescape Armory</h1>
            <p>
                <a class="sign-up-btn" href="/sign_up">Sign Up</a>
                <a class="login-btn" href="/login">Login</a>
            </p>
            
        </div>

    <% end %>
</div>