<h1>Boss Fight</h1>
<form action="/quit/<%= user_health %>" method="POST">
    <input type="hidden" name="_method" value="put">
    <label for="">Go back to shop: </label>
    <button>GO</button>
</form>

<h3>Boss Health: <%= boss_health %></h3>

<h3>Your Health: <%= user_health %></h3>

<form action="/hit/<%= boss_health %>/<%= max_hit %>/<%= user_health %>/<%= boss_max_hit %>" method="GET">
    <button>HIT</button>
</form>