<div class="page-wrap">
    <div class="boss-fight">
        <header class="top-header">
            <div>
                <form action="/quit/<%= user_health %>" method="POST">
                    <input type="hidden" name="_method" value="put">
                    <button class="back-to-shop-btn">Back to shop...</button>
                </form>
            </div>
            <div>
                <h1>Boss Fight</h1>
            </div>
            <div></div>
        </header>


    <div class="health">
        <h3 class="boss-health">Boss Health: <%= boss_health %></h3>

        <h3 class="user-health">Your Health: <%= user_health %></h3>
    </div>
    <form action="/hit">
        <input type="hidden" name="boss_health" value="<%= boss_health %>">
        <input type="hidden" name="max_hit" value="<%= max_hit %>">
        <input type="hidden" name="user_health" value="<%= user_health %>">
        <input type="hidden" name="boss_max_hit" value="<%= boss_max_hit %>">
        <button class="attack">ATTACK</button>
    </form>

    </div>

</div>
